In [14]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [15]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Muros,ES,2022-01-20 21:31:28,42.7762,-9.0603,53.10,66,0,15.46
1,1,Bluff,NZ,2022-01-20 21:31:29,-46.6000,168.3333,56.80,71,67,15.50
2,2,Iqaluit,CA,2022-01-20 21:30:13,63.7506,-68.5145,-25.31,74,20,5.01
3,3,Eureka,US,2022-01-20 21:31:29,40.8021,-124.1637,60.67,82,54,7.00
4,4,Busselton,AU,2022-01-20 21:31:30,-33.6500,115.3333,73.09,45,13,7.92

In [16]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

**General Syntax:**

1. Assign the locations to an array of latitude and longitude pairs.
   
`locations = [latitude, longitude]`

2. Assign the weights variable to some values.
   
`temperatures =`  an array of length equal to the locations array length

3. Assign the figure variable to the gmaps.figure() attribute.
   
`fig = gmaps.figure()`

4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
   
`heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)`

5. Add the heatmap layer.
   
`fig.add_layer(heatmap_layer)`

6. Call the figure to plot the data.
 
`fig`

Google heatmaps do not plot negative numbers. If you have a maximum temperature that is less than 0 °F, then you will get an `InvalidWeightException` error for this line of code:

`heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)`

To remove the negative temperatures we can use a **for loop** to iterate through the max_temp and add the temperatures that are greater than 0 °F to a **new list**.

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In the `for` loop, we're using the `max()` function to get the largest value between the `temp` and 0. If the `temp` is less than 0, then 0 will be added to the list in its place. Otherwise, the `temp` is added to the list.

Now change the following code in the heat_layer:

`heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)`

To look like the following:

`heat_layer = gmaps.heatmap_layer(locations, weights=temps)`

Rerun the cell. You should see a heatmap in the output window.

In [42]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(20.0, 0.0), zoom_level=1.9)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp) # Included negative temps, switch to new list 'temps'
# heat_layer = gmaps.heatmap_layer(locations, weights=temps) # heat circles too small
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=5)

# 'weights' is going to be list, give the []
# as part of building this list, max(temp,0) is simply zeroing out all the negative temperatures 
# if a temp is below zero, return zero. Build the 'temp' list with only the positive #'s'

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [47]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Lorengau,PG,2022-01-20 21:31:30,-2.0226,147.2712,81.72,78,100,7.90
6,6,Quatre Cocos,MU,2022-01-20 21:31:30,-20.2078,57.7625,80.71,82,53,11.70
8,8,Rikitea,PF,2022-01-20 21:31:31,-23.1203,-134.9692,78.58,73,100,8.95
9,9,Lompoc,US,2022-01-20 21:31:32,34.6391,-120.4579,79.02,62,0,11.50
13,13,Poum,NC,2022-01-20 21:31:33,-20.2333,164.0167,81.36,75,70,3.22
15,15,Feira De Santana,BR,2022-01-20 21:31:34,-12.2667,-38.9667,75.96,78,46,7.16
20,20,Hilo,US,2022-01-20 21:31:35,19.7297,-155.0900,77.40,80,100,10.36
23,23,Touros,BR,2022-01-20 21:31:36,-5.1989,-35.4608,83.30,69,26,11.63
27,27,Butaritari,KI,2022-01-20 21:31:37,3.0707,172.7902,81.61,72,81,17.45
30,30,Caravelas,BR,2022-01-20 21:31:39,-17.7125,-39.2481,75.94,84,0,4.90

In [48]:
preferred_cities_df.count()

City_ID       149
City          149
Country       149
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

In [49]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
5           Lorengau      PG     81.72  -2.0226  147.2712
6       Quatre Cocos      MU     80.71 -20.2078   57.7625
8            Rikitea      PF     78.58 -23.1203 -134.9692
9             Lompoc      US     79.02  34.6391 -120.4579
13              Poum      NC     81.36 -20.2333  164.0167
15  Feira De Santana      BR     75.96 -12.2667  -38.9667
20              Hilo      US     77.40  19.7297 -155.0900
23            Touros      BR     83.30  -5.1989  -35.4608
27        Butaritari      KI     81.61   3.0707  172.7902
30         Caravelas      BR     75.94 -17.7125  -39.2481

In [51]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [53]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [59]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [60]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Description List: <dl>
    Description Term: <dt>
        Description Definition: <dd>
    Description Term: <dt>
        Description Definition: <dd>

In [57]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

KeyError: 'column1'